<div
  *ngIf="selectedPerson"
  class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow min-h-52"
>
  <h2 class="text-lg font-semibold text-gray-800 mb-2">
    {{ selectedPerson.nombrecompleto }}
  </h2>
  <p class="text-gray-600">Email: {{ selectedPerson.email }}</p>
  <p class="text-gray-600">Teléfono: {{ selectedPerson.telefono }}</p>

  <p class="text-gray-400 text-xs mt-2">
    Creado: {{ selectedPerson.createdAt | date }}
  </p>
  <p class="text-gray-400 text-xs">
    Actualizado: {{ selectedPerson.updatedAt | date }}
  </p>
  <div class="flex m-2">
    <button
      class="bg-blue-500 text-white p-2 rounded m-0.5 w-8/12 hover:bg-blue-600 transition"
      (click)="navigateToAgends()"
    >
      Ver agendas
    </button>
    <button
      class="bg-red-400 text-white p-2 rounded m-0.5 w-2/12 hover:bg-red-600 transition"
      (click)="toDeletePerson()"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/860/860829.png"
        class="h-8 w-8"
        alt="delete_icon"
      />
    </button>
    <button
      (click)="toEditPerson()"
      class="bg-green-600 text-white p-2 rounded m-0.5 w-35/120 hover:bg-green-700 transition"
    >
      <img
        src="https://icons.veryicon.com/png/o/miscellaneous/linear-small-icon/edit-246.png"
        class="h-8 w-8"
        alt="edit_icon"
      />
    </button>
  </div>
</div>
