<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
>
  <h2 class="text-2xl font-bold mb-6 text-gray-800">Iniciar Sesión</h2>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
      Email
    </label>
    <input
      type="text"
      id="email"
      formControlName="email"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <small
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
      class="text-red-500 text-xs italic"
    >
      Este campo es obligatorio y debe ser un email válido.
    </small>
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="contrasena">
      Contraseña
    </label>
    <input
      type="password"
      id="contrasena"
      formControlName="contrasena"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <small
      *ngIf="
        loginForm.get('contrasena')?.invalid &&
        loginForm.get('contrasena')?.touched
      "
      class="text-red-500 text-xs italic"
    >
      Este campo es obligatorio.
    </small>
  </div>

  <p *ngIf="errorMessage" class="text-red-500 text-xs italic mt-4">
    {{ errorMessage }}
  </p>

  <div class="flex items-center justify-between">
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      [disabled]="loginForm.invalid"
    >
      Iniciar Sesión
    </button>
  </div>
</form>
