<div class="flex flex-col items-center">
  <div class="search-bar-container">
    <events-search-bar
      (search)="onSearch($event)"
    ></events-search-bar>
  </div>

  <div class="w-1/2">
    <events-card
      *ngFor="let event of filteredEventsList"
      [event]="event"
      (selectEvent)="onSelectEvent($event)"
    ></events-card>
  </div>

  <div class="w-full lg:w-1/2">
    <events-details-card
      *ngIf="selectedEvent"
      [selectedEvent]="selectedEvent"
      (editEvent)="onEditEvent($event)"
      (deleteEvent)="onDeleteEvent($event)"
    ></events-details-card>
  </div>

  <div>
    <button
      *ngIf="!showForm"
      (click)="onAddEvent()"
      class="bg-green-500 text-white px-4 py-2 rounded mb-4"
    >
      Agregar Evento
    </button>

    <events-form
      *ngIf="showForm"
      [mainAgend]="mainAgend"
      [agendOwner]="agendOwner"
      [event]="selectedEvent || null"
      (saveEvent)="onSaveEvent($event)"
      (cancel)="onCancelForm()"
    ></events-form>
  </div>
</div>
