<div
  class="min-h-screen flex flex-col items-center justify-between bg-blue-500 p-4"
>
  <div class="flex mb-8 w-full">
    <div class="w-1/2 justify-center">
      <app-agends-agend-details-card
        [agendOwner]="personOwner"
        [selectedAgend]="selectedAgend"
        (deleteAgend)="onAgendDeleted($event)"
        (editAgend)="onAgendEdited($event)"
      ></app-agends-agend-details-card>
    </div>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-8 w-full max-w-6xl px-4"
  >
    <div *ngFor="let agenda of agends_list" (click)="selectAgend(agenda)">
      <app-agends-agend-card
        [agenda]="agenda"
        (select)="selectAgend($event)"
      ></app-agends-agend-card>
    </div>
  </div>

  <app-agends-agend-form
    (editedAgend)="onAgendEditedSuccess($event)"
    [toEditAgend]="toEditAgend"
    [personOwner]="personOwner"
    (agendAdded)="onAgendAdded($event)"
  ></app-agends-agend-form>
</div>
